{% extends 'main/base.html' %}
{% load static %}

{% block title %} Index Page {% endblock title %}

{% block extra_styles %} sub_page {% endblock extra_styles %}



{% block content %}
<div class="hero_area">
    {% include 'main/header.html'  with about="active"%}

   
</div>

 <!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="detail-box">
            <div class="heading_container">
              <h2>
                About Us
              </h2>

            </div>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam
            </p>
            <a href="">
              Read More
            </a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/about-img.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
</section>

<!-- end about section -->


{% endblock content %}

